.message {
    border: 1px solid #888;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    background: #e6e6e6;
    margin-left: 0;
    margin-right: -20px;
}

.message .title {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #888;
}

.message .reply {
    border-top: 1px solid #888;
    margin-top: 5px;
    margin-left: 15px;
}

.message .reply .created {
    font-size: 9px;
    margin-left: 10px;
    text-shadow: 2px 2px 3px #888;
}